@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans";
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
}
.desktop-image,
.logo {
  display: none;
}
header {
  margin: 34px;
}
.mobile-image {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px;
  margin-bottom: 92px;
}
.for-h1 {
  display: flex;
  justify-content: center;
}
h1 {
  color: #ce9898;
  font-weight: 300;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 11px;
  text-align: center;
  max-width: 310px;
  align-self: center;
}
strong {
  color: #423a3a;
  font-weight: 600;
}
p {
  color: #ce9898;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
input {
  width: 100%;
  height: 48px;
  opacity: 50%;
  border: solid 1px #ce9898;
  border-radius: 28px;
  padding-left: 24px;
  background-color: #fff4f4;
}
::placeholder {
  color: #ce9898;
  font-size: 14px;
}
.input-email {
  position: relative;
  margin-top: 16px;
}
.error {
  color: #f96464;
  text-align: start;
  margin-top: 7px;
  margin-left: 25px;
  display: none;
}
.correct {
  color: rgb(52, 222, 52);
  text-align: start;
  margin-top: 7px;
  margin-left: 25px;
  display: none;
}
button {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 48px;
  border: none;
  border-radius: 28px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(
    135deg,
    #f8bfbf 100%,
    rgba(255, 255, 255, 0.5) 0%
  );
  box-shadow: 0px 15px 20px rgba(194, 43, 43, 0.248);
}
input:not(:placeholder-shown) {
  color: black;
}
.visible {
  display: block;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(./assets/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    background-size: 60%;
  }
  .mobile-image {
    display: none;
  }
  .logo {
    display: inline-block;
    margin-bottom: 135px;
  }
  .desktop-image {
    width: 45%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  header {
    display: none;
  }
  .container {
    display: flex;
    align-items: start;
    margin-left: 10%;
  }
  .information {
    max-width: 445px;
    margin-top: 75px;
  }
  .for-h1 {
    display: flex;
    justify-content: start;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17px;
    text-align: start;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  input {
    height: 56px;
  }
  ::placeholder {
    font-size: 16px;
  }
  button {
    width: 100px;
    height: 56px;
  }
}
